{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Davi Martignoni Barros</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>{{ action }} Usuário</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <a href="{% url 'reset_password' %}">Mudar Senha</a>
    </div>
    <input type="submit" value="{{ action }}">
  </form>
  
</body>

</html>